* {
    box-sizing: border-box;
    overflow: hidden;
}

.header {
    width: 1024px;
    height: 65px;
    background-color: lightblue;
    margin: auto;
}

.container {
    width: 1024px;
    /* -前面 要空格 */
    height: calc(768px - 65px - 20px);
    background-color: lightpink;
    margin: auto;
}

.footer {
    width: 1024px;
    /* -前面 要空格 */
    height: 20px;
    background-color: lightyellow;
    margin: auto;
}