* {
    box-sizing: border-box;
    /* overflow: hidden; */
    /* border-collapse: collapse; */
}

/* header */
.header {
    width: 1024px;
    height: 65px;
    /* background-color: lightblue; */
    margin: auto;
    border: 1px solid black;
    border-bottom: 0px;
    text-align: center;
    padding: 2px;
}


/* container */
.container {
    width: 1024px;
    /* -前面 要空格 */
    height: calc(768px - 65px - 20px);
    /* background-color: lightpink; */
    margin: auto;

    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* border: 1px solid black; */
}

/*container-left*/
.container-left {
    width: 215px;
    height: 100%;
    /* background-color: blueviolet; */

    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* border: 1px solid black; */
}

.left-top {
    width: 100%;
    height: calc(100% - 25px);
    /* background-color: lightsalmon; */
    border: 1px solid black;
}

.left-bottom {
    width: 100%;
    height: 25px;
    /* background-color: darkorange; */
    border: 1px solid black;
    border-top: 0px;
}



/* container-right */
.container-right {
    /* width: calc(100% - 215px); */
    width: calc(1024px - 215px);
    height: 100%;
    /* background-color: lightgreen; */

    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}


.right-top {
    width: 100%;
    height: 29px;
    /* background-color: lightgreen; */
    border: 1px solid black;
    border-left: 0px;
}

.right-bottom {
    width: 100%;
    height: calc(100% - 25px);
    /* background-color: darkgreen; */
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
}


/* footer */
.footer {
    width: 1024px;
    /* -前面 要空格 */
    height: 20px;
    /* background-color: lightyellow; */
    margin: auto;
    border: 1px solid black;
    border-top: 0px;

}